<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Initiative Automation Suite">
  <listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    <listener class-name="Utils.TestListener" />
  </listeners>
    <listeners>
      <listener class-name="Utils.ExtentReportManager"/>
     </listeners>
  <test name="Initiative Tests">
            <classes>
               <class name="tests.InitiativeTest"/>
               <class name= "tests.ExternalAuditTest"/>
          
               
        </classes> 
    </test> 
</suite>
